<form #form="ngForm"  autocomplete="off">
    <input type="hidden" name="SEM_ID"  #SEM_ID="ngModel"  [(ngModel)]="service.formData.SEM_ID">
    <div class="form-group">
      <label for="">SEMESTER NAME</label>
    <input type="text" name="SEM_NAME" #SEM_NAME="ngModel"  [(ngModel)]="service.formData.SEM_NAME" class="form-control" required
    [ngClass]="{ 'is-invalid':(SEM_NAME.errors && SEM_NAME.touched) || !service.checkCode(service.formData.SEM_ID,service.formData.SEM_NAME),'is-valid': !SEM_NAME.errors && SEM_NAME.touched}">
  <span *ngIf="!service.checkCode(service.formData.SEM_ID,service.formData.SEM_NAME)" class="text-danger">Name Semester is exist</span>  

    </div>
    <div class="form-group">
        <label for="">PRIORITY</label>
        <input name="PRIORITY" #PRIORITY="ngModel" pattern="[0-9]*"
        [ngClass]="{ 'is-invalid' :PRIORITY.errors && PRIORITY.touched,'is-valid': !PRIORITY.errors && PRIORITY.touched}"
        [(ngModel)]="service.formData.PRIORITY" class="form-control">
      <span *ngIf="PRIORITY.invalid" class="text-danger">
        PRIORITY must be the numbers!
      </span>
      </div>
    
      <div class="form-group">
          <label for="">STATUS</label>
          <select class="form-control" name="STATUS" #STATUS="ngModel" [(ngModel)]="service.formData.STATUS" >
            <option [value]="1">Display</option>
            <option [value]="2">Banned</option>
          </select>
        </div>
    <div class="form-group pull-left">
    <button type="button" (click)="service.showModal($event,service.formDataI)" class="btn btn-danger btn-block">RESET</button>
    </div>
    <div class="form-group pull-right">
    <button type="button" (click)="onSubmit(form)" data-dismiss="modal" [disabled]="form.invalid || !service.checkCode(service.formData.SEM_ID,service.formData.SEM_NAME)" class="btn btn-info btn-block">SUBMIT</button>
    </div>
    </form>