<section>
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row justify-content-between">
                <div class="col-6">
                  <h3>List Year</h3>
                </div>
              
              </div>
            </div>
            <div class="card-body">
              <app-year></app-year>
              <app-year-list></app-year-list>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>
     
  
  
    <div class="modal fade" id="exampleModal0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Year</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <app-year-change></app-year-change>
            </div>
          </div>
        </div>
      </div>
   
  <!-- end modal update -->
