<section>
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div v class="card">
          <div class="card-header">
            <div class="row justify-content-between">
              <div class="col-6">
                <h3>Major</h3>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create">
                  <i class="fa fa-plus" aria-hidden="true"> </i>
                  &nbsp; Add
                </button>

              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped table-bordered">
              <thead class="bg-info">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Spec. Code</th>
                  <th scope="col">Spec. Name</th>
                  <th scope="col">R.Credits</th>
                  <th scope="col">E.Credits</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <div class="checkbox">
                      <label><input type="checkbox" value=""></label>
                    </div>
                  </td>
                  <td>
                    Business Management
                  </td>
                  <td>
                    Business Management
                  </td>
                  <td>
                    65
                  </td>
                  <td>
                    0
                  </td>
                  <td>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: green; font-size: 1.2em"
                      data-toggle="modal" data-target="#update"></i>&nbsp;
                    <i class="fa fa-times" aria-hidden="true" style="color: red; font-size: 1.2em"></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <div class="checkbox">
                      <label><input type="checkbox" value=""></label>
                    </div>
                  </td>
                  <td>
                    Business Management
                  </td>
                  <td>
                    Business Management
                  </td>
                  <td>
                    65
                  </td>
                  <td>
                    0
                  </td>
                  <td>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: green; font-size: 1.2em"
                      data-toggle="modal" data-target="#update"></i>&nbsp;
                    <i class="fa fa-times" aria-hidden="true" style="color: red; font-size: 1.2em"></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <div class="checkbox">
                      <label><input type="checkbox" value=""></label>
                    </div>
                  </td>
                  <td>
                    Business Management
                  </td>
                  <td>
                    Business Management
                  </td>
                  <td>
                    65
                  </td>
                  <td>
                    0
                  </td>
                  <td>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: green; font-size: 1.2em"
                      data-toggle="modal" data-target="#update"></i>&nbsp;
                    <i class="fa fa-times" aria-hidden="true" style="color: red; font-size: 1.2em"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- begin modal create -->
<div class="modal fade" id="create" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-info">

        <h4 class="modal-title text-white">Add New Major</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label text-dark font-weight-bold">Specialization
              Code</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="inputEmail3" placeholder="2019">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 col-form-label text-dark font-weight-bold">Specialization
              Name</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword3" placeholder="2020">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 col-form-label text-dark font-weight-bold">Required
              Credits</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword3" placeholder="2020">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 col-form-label text-dark font-weight-bold">Elective
              Credits</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword3" placeholder="2020">
            </div>
          </div>
          <!-- Category -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-dark font-weight-bold" for="inline-radios">Category</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">IT</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">BA</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

<!-- end modal create -->
<!-- begin modal update -->
<div class="modal fade" id="update" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-info">

        <h4 class="modal-title text-white">Update Major</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label text-dark font-weight-bold">Specialization
              Code</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="inputEmail3" placeholder="2019">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 col-form-label text-dark font-weight-bold">Specialization
              Name</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword3" placeholder="2020">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 col-form-label text-dark font-weight-bold">Required
              Credits</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword3" placeholder="2020">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 col-form-label text-dark font-weight-bold">Elective
              Credits</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword3" placeholder="2020">
            </div>
          </div>
          <!-- Category -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-dark font-weight-bold" for="inline-radios">Category</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">IT</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">BA</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

<!-- end modal update -->
