<form #form="ngForm"  autocomplete="off">
<div class="form-group">
  <label for="">Year</label>
<input type="text" name="YEAR1" #YEAR1="ngModel" [(ngModel)]="service.formData.YEAR1" class="form-control"
 required pattern="[0-9]{4}" [ngClass]="{ 'is-invalid' : (YEAR1.errors && YEAR1.touched) || !service.checkYear(-1,service.formData.YEAR1),'is-valid': !YEAR1.errors && YEAR1.touched}"    >
 <span *ngIf="!service.checkYear(-1,service.formData.YEAR1)" class="text-danger">Year is exist</span>
 <span *ngIf="YEAR1.invalid && YEAR1.touched" class="text-danger">Year must be 4 numbers</span>
</div>
<input type="hidden" name="STATUS"  [(ngModel)]="service.formData.STATUS">
<div class="form-group pull-left">
<button type="button" (click)="service.resetForm()" class="btn btn-danger btn-block">RESET</button>
</div>
<div class="form-group pull-right">
<button type="button" (click)="onSubmit(form)" data-dismiss="modal" [disabled]="form.invalid || !service.checkYear(-1,service.formData.YEAR1)" class="btn btn-info btn-block">SUBMIT</button>
</div>
</form>
