<form #form="ngForm" autocomplete="off">
 
  <div class="form-group">
    <label>ENGLISH NAME (*)</label>
    <input name="NAME_EN" #NAME_EN="ngModel" [(ngModel)]="service.formData.NAME_EN"  required [ngClass]="{ 'is-invalid' :(NAME_EN.errors && NAME_EN.touched) || !service.checkName_EN(-1,service.formData.NAME_EN),'is-valid': !NAME_EN.errors && NAME_EN.touched}" class="form-control">
    <span *ngIf="!service.checkName_EN(-1,service.formData.NAME_EN)" class="text-danger">English Name is exist</span>
  </div>
  <div class="form-group">
    <label>VIETNAMESE NAME</label>
    <input name="NAME_VI" #NAME_VI="ngModel" [(ngModel)]="service.formData.NAME_VI" class="form-control">
  </div>
  <div class="form-group">
      <label>SQUENCE NUMBER</label>
      <input name="SQUENCE_NUM" #SQUENCE_NUM="ngModel" pattern="[0-9]*"
      [ngClass]="{ 'is-invalid' :SQUENCE_NUM.errors && SQUENCE_NUM.touched,'is-valid': !SQUENCE_NUM.errors && SQUENCE_NUM.touched}"
      [(ngModel)]="service.formData.SQUENCE_NUM" class="form-control">
    <span *ngIf="SQUENCE_NUM.invalid" class="text-danger">
      SQUENCE_NUM must be the numbers!
    </span>
  </div>
  <div class="form-group">
      <label>NOTE</label>
      <textarea name="NOTE" #NOTE="ngModel" [(ngModel)]="service.formData.NOTE" class="form-control"></textarea>
  </div>
  <div class="form-group">
      <label>TYPE</label>
      <select name="INTYPE_ID" #INTYPE_ID="ngModel" [(ngModel)]="service.formData.INTYPE_ID" class="form-control">
        <option value="1">CHECKBOX</option>
        <option value="2">INPUT TEXT</option>
      </select>
  </div>
  <input type="hidden" name="STATUS" #STATUS="ngModel" [(ngModel)]="service.formData.STATUS">
  <div class="form-group pull-left">
      <button type="button" (click)="service.resetForm()" class="btn btn-danger btn-block">RESET</button>
    </div>
    <div class="form-group pull-right">
      <button type="button" [disabled]="form.invalid || !service.checkName_EN(-1,service.formData.NAME_EN)"  (click)="onSubmit(form)"  data-dismiss="modal" class="btn btn-info btn-block">SUBMIT</button>
    </div>
</form>
