<div class="card">
  <div class="card-header">
    <strong>Basic Form</strong> Elements
  </div>
  <div class="card-body">
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Student ID</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="01-44-0-00179">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">HCCS PID</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="P01023211">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">HCCS EMPID</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="2030792020">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">BARCODE</label>
        <div class="col-md-9">
          <p class="form-control-static"> <strong>023923212322S</strong>
          </p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">CANDIDATE ID</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="2030792020">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Name</label>
        <div class="col-md-9">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nguyễn Thái">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Đăng">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Birthday</label>
        <div class="col-md-9">
          <div class="row">
            <div class="col">
              <select id="select1" name="select1" class="form-control">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
              </select>
            </div>
            <div class="col">
              <select id="select1" name="select1" class="form-control">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
              </select>
            </div>
            <div class="col">
              <select id="select1" name="select1" class="form-control">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Place Birth</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="TP.HCM">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Home Country</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="TP.HCM">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="inline-radios">Gender</label>
        <div class="col-md-9 col-form-label">
          <div class="form-check form-check-inline mr-1" id="inline-radios">
            <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Catalogy</label>
        <div class="col-md-9">
          <div class="row">
            <div class="col">
              <select id="select1" name="select1" class="form-control">
                <option value="0">2016-2017</option>
                <option value="1">2017-2018</option>
                <option value="2">2019-2020</option>
              </select>
            </div>
            <label class="col-form-label" for="select1">Intake</label>
            <div class="col">
              <select id="select1" name="select1" class="form-control">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
              </select>
            </div>
            <label class="col-form-label" for="select1">Progams</label>
            <div class="col">
              <select id="select1" name="select1" class="form-control">
                <option value="0">JAVA</option>
                <option value="1">BUSSINESS</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Student Type</label>
        <div class="col-md-9">
          <select id="select1" name="select1" class="form-control">
            <option value="0">Nội thành</option>
            <option value="1">Ngoại thành</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Contact Person</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Lê Thị Kim Thanh">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Phone</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0909232323">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="email-input">Email Adress</label>
        <div class="col-md-9">
          <input type="email" id="email-input" name="email-input" class="form-control"
            placeholder="nguyenhaidang@gmail.com" autocomplete="email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="email-input">Person ID</label>
        <div class="col-md-9">
          <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="email-input">Hobby</label>
          <div class="col-md-9">
            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Permanent Adress</label>
          <div class="col-md-9">
              <input type="text" class="form-control" placeholder="12/32/32 Lý Thái Tổ,P.Hoà Thành, Q.Tân Phú">
            <div class="row mt-2">
              <div class="col">
                  <select id="select1" name="select1" class="form-control">
                      <option value="0">TP.HCM</option>
                      <option value="1">Hà Nội</option>
                    </select>
              </div>
              <div class="col">
                  <select id="select1" name="select1" class="form-control">
                      <option value="0">Việt Nam</option>
                      <option value="1">Mỹ</option>
                    </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Postal Adress</label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="12/32/32 Lý Thái Tổ,P.Hoà Thành, Q.Tân Phú">
              <div class="row mt-2">
                <div class="col">
                    <select id="select1" name="select1" class="form-control">
                        <option value="0">TP.HCM</option>
                        <option value="1">Hà Nội</option>
                      </select>
                </div>
                <div class="col">
                    <select id="select1" name="select1" class="form-control">
                        <option value="0">Việt Nam</option>
                        <option value="1">Mỹ</option>
                      </select>
                </div>
              </div>
            </div>
          </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> OK</button>
    <button type="reset" class="btn btn-sm btn-success">Update</button>
    <button type="reset" class="btn btn-sm btn-primary"> New</button>
  </div>
</div>
