<section>
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-between">
              <div class="col-6">
                <h3>List Categories</h3>
              </div>
              <div class="col-6 text-right">
                <button type="button" (click)="service.showModal()" class="btn btn-primary" data-toggle="modal" data-target="#create">
                  <i class="fa fa-plus" aria-hidden="true"> </i>
                  &nbsp; Add
                </button> 
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-category-list></app-category-list>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="create" role="dialog"  aria-hidden="true" #create>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-info">
          
          <h4 class="modal-title text-white">Add New Category</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <app-category></app-category>
        </div>
        
      </div>
      
    </div>
  </div>
